#homepage{


/** pour les ICONS **/
	#icon{
	  	display:block;
	 	background: url('../imgs/social-icons.png') no-repeat 0 0;
		width: 46px;
		height: 46px;
	}
	/* on décale l'image de fond de la hauteur du lien*/
	#icon:hover,#icon:active,#icon:focus{
	  	background: url('../imgs/social-icons.png') no-repeat 0 -47px;
		width: 46px;
		height: 46px;
	}


}